.alert-container {
    .alert {
        padding: 2rem 1.5rem;
        margin-bottom: 2rem;

        width: 100%;
        border-radius: 0.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.3rem;
        }

        .alert-close {
            cursor: pointer;
            font-size: 1.5rem;
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 50%;
        }

        &.alert-success {
            background: hsl(120, 83%, 90%);

            .alert-close {
                background-color: hsl(120, 83%, 50%);

                &:hover {
                    background-color: hsl(120, 83%, 60%);
                }
            }
        }
        &.alert-error {
            background: hsl(0, 83%, 90%);

            .alert-close {
                background-color: hsl(0, 83%, 50%);

                &:hover {
                    background-color: hsl(0, 83%, 60%);
                }
            }
        }
    }
}
