header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 2rem;
    background: #333;

    .logo {
        font-size: 2.5rem;
        color: #fff;

        span {
            font-weight: 600;
            color: rgb(23, 233, 23);
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            font-size: 1.5rem;
            padding: 0.5rem 2rem;
            color: #fff;
            border-radius: 0.5rem;
            transition: all 0.3s ease-in-out;
            position: relative;

            // &:hover {
            //     background: #fff;
            //     color: rgb(23, 233, 23);
            //     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            // }

            &::before {
                content: "";
                position: absolute;
                bottom: -0.1rem;
                left: 0;
                width: 100%;
                height: 2px;
                background: rgb(23, 233, 23);
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
                transform-origin: left;
            }

            &:hover::before {
                transform: scaleX(1);
                transform-origin: right;
            }
        }
    }

    #menu {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    header {
        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: rgba(51, 51, 51, 0.7);
            padding: 2rem;
            border-top: 0.2rem solid rgb(23, 233, 23);
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);

            flex-direction: column;
            align-items: flex-start;

            a {
                color: #fff;
                display: block;
                margin: 1.5rem 0;
                font-size: 2rem;
                opacity: 0;
                transform-origin: left;
                cursor: pointer;
            }
        }

        .nav-toggle {
            transform: scaleY(1);
            opacity: 1;

            a {
                animation: show 0.2s cubic-bezier(0.38, 1.15, 0.7, 1.12) 0.2s
                    forwards;
            }
        }

        #menu {
            width: 3rem;
            height: 3rem;

            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            cursor: pointer;

            .line-1,
            .line-2,
            .line-3 {
                background: #fff;
                height: 0.3rem;
                width: 100%;
            }
        }
        .active {
            .line-1 {
                transform: rotate(45deg) translate(35%, 35%);
            }
            .line-2 {
                opacity: 0;
                transform: translateX(100%);
            }
            .line-3 {
                transform: rotate(-45deg) translate(35%, 35%);
            }
        }
    }
}

@keyframes show {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
